<section class="alt-section section-work">
  
  <h3 id="work">Work</h3>
  
  <div class="work-belt">
    
    <div class="thumb-wrap">
      <div class="thumb-container">
        {% for project in site.data.settings.projects %}  
        <a class="thumb-unit" data-folder="{{ project.folder }}" style="background-image: url(/assets/img/work/{{ project.folder }}/thumb.jpg)">
          <div class="thumb-overlay">
            <strong>{{ project.name }}</strong>
            <div class="zoom-icon"></div>
          </div>      
        </a>    
        {% endfor %}    
      </div>
    </div>
    
    <div class="work-wrap">
      <div class="work-container">
        <div class="work-return">{% include icons/icon-back.html %}</div>
        <h4 class="project-title">Project Title</h4>
        <div class="project-load"></div>
        
        <noscript>
          {% for project in site.data.settings.projects %}
            <div class="noscript" id="content-{{ project.folder }}">
              <h4 class="project-title">{{ project.name }}</h4>
              <div class="no-script-load">
                {% include {{ project.file }} %}
              </div>
            </div>
          {% endfor %}
        </noscript>
        
      </div>
    </div>
  </div>
  
</section>