<svg xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns="http://www.w3.org/2000/svg" xmlns:osb="http://www.openswatchbook.org/uri/2009/osb" height="12.065mm" width="12.065mm" version="1.1" xmlns:cc="http://creativecommons.org/ns#"  xmlns:dc="http://purl.org/dc/elements/1.1/">
 <g transform="translate(-281.48 -742.42)">
  <g transform="translate(-226.01 558.85)">
   <g  transform="matrix(3.1142 0 0 -3.1142 550.24 220.62)">
    <path d="m0 0-5.438 5.438 4.439 2.218-12.729 4.243 4.243-12.727 2.218 4.438 5.439-5.438l1.828 1.828z"/>
   </g>
  </g>
 </g>
</svg>
