<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Created with Inkscape (http://www.inkscape.org/) -->
<svg id="svg7539" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns="http://www.w3.org/2000/svg" height="17.5" width="17.5" version="1.1" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" viewBox="0 0 17.5 17.5">
 <metadata id="metadata7544">
  <rdf:RDF>
   <cc:Work rdf:about="">
    <dc:format>image/svg+xml</dc:format>
    <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage"/>
    <dc:title/>
   </cc:Work>
  </rdf:RDF>
 </metadata>
 <g id="layer1" transform="translate(-216.96 -232.18)">
  <g id="g8099">
   <g id="g5760" transform="matrix(1.25 0 0 -1.25 225.71 232.18)">
    <path id="path5762" d="m0 0c-3.859 0-7-3.141-7-7s3.141-7 7-7 7 3.141 7 7-3.141 7-7 7m0-1c3.314 0 6-2.688 6-6 0-3.314-2.686-6-6-6-3.313 0-6 2.686-6 6 0 3.312 2.687 6 6 6" fill="#000100"/>
   </g>
   <g id="g5764" transform="matrix(1.25 0 0 -1.25 228.21 237.56)">
    <path id="path5766" d="m0 0-3.438-2.865 3.438-2.865v-1.301l-5 4.166 5 4.166v-1.301z" fill="#000100"/>
   </g>
  </g>
 </g>
</svg>
